{{ ansible_managed | comment }}
dc_eximconfig_configtype='{{ exim_dc_eximconfig_configtype }}'
dc_other_hostnames='{{ ansible_hostname }}'
dc_local_interfaces='127.0.0.1 ; ::1'
dc_readhost='{{ exim_dc_readhost }}'
dc_relay_domains='{{ exim_dc_relay_domains }}'
dc_minimaldns='{{ exim_dc_minimaldns }}'
dc_relay_nets='{{ exim_dc_relay_nets }}'
dc_smarthost='{{ exim_dc_smarthost }}'
CFILEMODE='{{ exim_CFILEMODE }}'
dc_use_split_config='{{ exim_dc_user_split_config }}'
dc_hide_mailname='{{ exim_dc_hide_mailname }}'
dc_mailname_in_oh='{{ exim_dc_mailname_in_oh  }}'
dc_localdelivery='{{ exim_dc_localdelivery }}'
